*{
  padding: 0%;
  margin: 0%;
}

.logo{
  height: 90px;
  width: 90px;
  float: left;
  padding-left: 40px;
  padding-top: 40px;
  padding-right: 40px;
}

.head{
  font-size: 2.5rem;
  padding-top: 70px;
}

.nav{
  height: 150px;
  box-shadow: 0px 2.98px 7.45px black;
  background-color: #219ebc;
}
/************************************************************************************************************/
.form{
  display: grid;
  grid-template: 60px 60px / 1fr 1fr;
  gap:17px
}

main{
  padding: 90px;
}

.form--input{
  border-radius: 5px;
  border:1px solid #D5D4D8;
  text-indent: 5px;
  font-size: 1.25rem;
}




.form--button{
  grid-column: 1/-1;
  border-radius: 5px;
  border:1px solid #D5D4D8;
  cursor: pointer;
  background-color: #219ebc;
  color: white;
  font-size: 1.25rem;
 
}

.image{
  position: relative;
  height: 800px;
  width:800px;
  padding-top: 20px;
  padding-left: 200px;
  float: left;
}

.top{
  position: absolute;
  padding-top: 40px;
  padding-left: 500px;
  font-size: 4.8rem;
}

.bottom{
  position: absolute;
  padding-top: 700px;
  padding-left: 500px;
  font-size: 4.8rem;

}

